<h1>Dispositivos</h1>

<table class="table table-striped table-bordered table-hover">
    <tbody>
  <tr>
    <th>Código</th>    
  	<th>Categoria</th>
    <th>Cor</th>
    <th>Part Number</th>
  	<th class="text-center">
      <a [routerLink]="['/dispositivos/cadastrar']"
         class="btn btn-xs btn-success">
         <span class="glyphicon glyphicon-plus" 
           aria-hidden="true"></span> Novo
      </a>
  </th>
  </tr>
  <tr *ngFor="let dispositivo of dispositivos">
    <td>
        {{dispositivo.id}}
    </td> 
    <td>
      {{dispositivo.color}}
    </td> 
    <td>
      {{dispositivo.idCategory}}
    </td> 
    <td>
      {{dispositivo.partNumber}}
    </td>    
    <td class="text-center" style="width: 200px">
      <a [routerLink]="['/dispositivos/editar', dispositivo.id]"
        title="Editar" alt="Editar"
        class="btn btn-xs btn-info">
        <span class="glyphicon glyphicon-pencil" 
          aria-hidden="true"></span> Editar
      </a>
      <a href="#" title="Remover" alt="Remover" 
        (click)="remover($event, dispositivo)"
        class="btn btn-xs btn-danger">
        <span class="glyphicon glyphicon-remove" 
          aria-hidden="true"></span> Remover
      </a>
    </td>
  </tr>
</tbody>
</table>

<p *ngIf="dispositivos !== undefined && dispositivos.length==0">Nenhuma dispositivo cadastrada.</p>