<h1>Categorias</h1>

<table class="table table-striped table-bordered table-hover">
    <tbody>
  <tr>
    <th>Código</th>    
  	<th>Categoria</th>    
  	<th class="text-center">
      <a [routerLink]="['/categorias/cadastrar']"
         class="btn btn-xs btn-success">
         <span class="glyphicon glyphicon-plus" 
           aria-hidden="true"></span> Novo
      </a>
  </th>
  </tr>
  <tr *ngFor="let categoria of categorias">
    <td>
        {{categoria.id}}
      </td> 
    <td>
      {{categoria.name}}
    </td>    
    <td class="text-center" style="width: 200px">
      <a [routerLink]="['/categorias/editar', categoria.id]"
        title="Editar" alt="Editar"
        class="btn btn-xs btn-info">
        <span class="glyphicon glyphicon-pencil" 
          aria-hidden="true"></span> Editar
      </a>
      <a href="#" title="Remover" alt="Remover" 
        (click)="remover($event, categoria)"
        class="btn btn-xs btn-danger">
        <span class="glyphicon glyphicon-remove" 
          aria-hidden="true"></span> Remover
      </a>
    </td>
  </tr>
</tbody>
</table>

<p *ngIf="categorias !== undefined && categorias.length==0">Nenhuma categoria cadastrada.</p>