<h1>Cadastrar Dispositivo</h1>

<div class="well">
  <form #formDispositivo="ngForm">

    <div class="form-group">
      <label for="idCategory">Categoria:</label>
      <select 
        id="idCategory"
        name="idCategory"
        class="form-control"
        required
        [(ngModel)]="dispositivo.idCategory">
        <option *ngFor="let categoria of categorias" value= {{categoria.id}}>
          {{categoria.name}}
        </option>
     </select>     
    </div>
    
    <div class="form-group">
      <label for="color">Cor:</label>
      <input 
        type="text"
        class="form-control"
        id="color"
        name="color"
        [(ngModel)]="dispositivo.color"
        #name="ngModel"
        minlength="3" 
        maxlength="16" 
        required>       
    </div>

    <div class="form-group">
      <label for="partNumber">Part Number:</label>
      <input 
        type="number"
        class="form-control"
        id="partNumber"
        name="partNumber"
        [(ngModel)]="dispositivo.partNumber"
        #name="ngModel"
        required>       
    </div>


    <div class="form-group text-center">
      <input 
        type="submit"
        class="btn btn-success"
        (click)="cadastrar()"
        value="Cadastrar"
        [disabled]="!formDispositivo.form.valid">
      <a [routerLink]="['/dispositivos']"
        class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left" 
          aria-hidden="true"></span> Voltar
      </a>
    </div>
  </form>
</div>
