<h1>Cadastrar Categoria</h1>

<div class="well">
  <form #formCategoria="ngForm">
    <div class="form-group">
      <label for="nome">Categoria:</label>
      <input 
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        [(ngModel)]="categoria.name"
        #name="ngModel"
        minlength="4" 
        maxlength="128" 
        required> 
      <div  *ngIf="name.errors && (name.dirty || name.touched)"
            class="alert alert-danger">
        <div [hidden]="!name.errors.required">
          Digite a Categoria.
        </div>
        <div [hidden]="!name.errors.minlength">
          A Categoria deve conter ao menos 4 caracteres.
        </div>
        <div [hidden]="!name.errors.maxlength">
          A Categoria não deve conter mais do que 128 caracteres.
        </div>
      </div>
    </div>
    <div class="form-group text-center">
      <input 
        type="submit"
        class="btn btn-success"
        (click)="cadastrar()"
        value="Cadastrar"
        [disabled]="!formCategoria.form.valid">
      <a [routerLink]="['/categorias']"
        class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left" 
          aria-hidden="true"></span> Voltar
      </a>
    </div>
  </form>
</div>
